[Unit]
Description=LitClock Minute Timer
Documentation=https://github.com/kruczek-lab/litclock
After=sysinit.target

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s

[Install]
WantedBy=timers.target
